canvas{
    border: 1px solid black;

}

input{
    color: blueviolet;

}

p.message{
    font-size: x-large;
    border: 1px solid black;
    text-align: center;
    display:inline-block;
    justify-content: center;
    align-items: center;
}